.searchBar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchBar-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.searchBar-form {
	width: 70%;
	padding: 30px;
}

.field {
	width: 50%;
	min-width: 300px;
	height: 56px;
	border-radius: 4px;
	background-color: rgba(226, 255, 217, 0.884);
	transition: 0.3s all;
	border-color: transparent;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.288);
}

.field::placeholder {
	color: rgba(103, 107, 104, 0.678);
	font-weight: 700;
	font-size: 0.7rem;
	padding-left: 3px;
}

.field:focus {
	outline: none;
}

.field:hover {
	background-color: rgba(178, 255, 159, 0.884);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.288);
}

.submitBtn {
	padding: 15px 20px;
	border-radius: 5px;
	margin-left: 20px;
	background-color: transparent;
	border-color: transparent;
	color: #25ab92;
	font-size: 1.2rem;
	font-weight: 600;
}

.submitBtn:hover {
	cursor: pointer;
}

@media (max-width: 1024px) {
	.searchBar-form {
		width: 90%;
		padding: 25x;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.field {
		width: 100%;
		margin: 10px;
	}

	.field::placeholder {
		font-size: 0.6rem;
		text-align: center;
		padding-left: 0;
	}

	.submitBtn {
		margin-left: 0;
	}
}
